<!DOCTYPE html>
<html style="margin: 0; padding: 0; background-color: {{ bgcolor }};">
	<head>
	</head>
	<body style="margin: 0; padding: 15px; background-color: {{ bgcolor }};">
		<table id="header" cellspacing="0" cellpadding="0" border="0" style="background-color: {{ textbgcolor }}; color: {{ textcolor }};  padding: 0;  margin: 0; width: 100%; ">
			<tr style="background-color: {{ bgcolor }};">
				<td style="padding: 20px; text-align: center;">
					<h1 style="color: {{ bgtextcolor }}; text-align: center; font: normal 2.5em 'Comic Sans MS', sans-serif, Arial, Helvetica">Origin Hospitality - Simple Stats</h1>
				</td>
			</tr>
			<tr style="background-color: {{ bgcolor }}">
				<td> &nbsp; </td>
			</tr>
			<tr style="background-color: {{ textbgcolor }};">
				<td style="padding: 20px;">
					{% block content %}
					<h1>No Content!</h1>
					{% endblock %}
				</td>
			</tr>
			<tr style="background-color: {{ bgcolor }};">
				<td> &nbsp; </td>
			</tr>
			<tr style="background-color: {{ bgcolor }};">
				<td id="footer" style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align: center; color: {{ bgtextcolor }};">
					Simple Stats is on <a href="https://github.com/m3zercat/SimpleStatsPackage"><span style="text-decoration: none; color: orange;">github</span></a>
					<br />
					&copy; Matthew Malkin (<a href="http://zercat.net"><span style="text-decoration: none; color: orange;">zercat.net</span></a>) 
				</td>
			</tr>
		</table>
	</body>
</html>
